<% provide(:title, "Help") %>

		<h1>Help</h1>
		<p>
   		 Get help on the Rubuy on Rails Tutorial at the
   		 <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>
   		 To get help o this sample app, see the
    	<a href="http://www.railstutorial/org/book">Ruby on Rrails Tutorial
        book</a>.
		</p>
	